<!DOCTYPE html>
<html>
  <head>
    <title>Nested3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
  		<%= render 'layouts/navbar' %>
  		<%= render 'layouts/flash_message' %>
  	</header>

  	<div class="container-fluid">
  		<div class="col-md-12">
  		

  		<%= yield %>

  		</div>
  	</div>
    
    <footer>
    	<%= render 'layouts/footer' %>
    </footer>
  
  </body>
</html>
